<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{% block title %}FINEASE | dashboard{% endblock %}</title>
      <!-- Favicon -->
       <link rel="shortcut icon" href="{% static 'assets/images/fav.png' %}" type="image/x-icon">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'dsh/css/bootstrap.min.css' %}">

      <!-- Typography CSS -->
      <link rel="stylesheet" href="{% static 'dsh/css/typography.css' %}">
      <!-- Style CSS -->
      <link rel="stylesheet" href="{% static 'dsh/css/style.css' %}">
      <link rel="stylesheet" href="{% static 'dsh/css/bootstrap-select.css' %}">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{% static 'dsh/css/responsive.css' %}">
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>
<body>

      <!-- loader END -->
        <!-- Sign in Start -->
   {% block content %}
    {% endblock %}

<svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;"><defs id="SvgjsDefs1002"></defs><polyline id="SvgjsPolyline1003" points="0,0"></polyline><path id="SvgjsPath1004" d="M0 0 "></path></svg>
  {% include "transaction/dsh/js.html" %}
{% load sweetify %}
{% sweetify %}
</body>

</html>