{% extends 'transaction/dsh/base.html' %} {% block title %}
  FINEASE | DEPOSIT {{method.name}}
{% endblock %}
{% block content %}

{% if method.name == 'Debit Card' %}
{% include 'transaction/dsh/dashboard/debit_card.html' %}
{% elif method.name == 'Bitcoin(BTC)' %}
{% include 'transaction/dsh/dashboard/crypto.html' %}
{% elif method.name == 'Ethereum(ETH)' %}
{% include 'transaction/dsh/dashboard/crypto.html' %}
{% elif method.name == 'Bank Transfer' %}
{% include 'transaction/dsh/dashboard/deposit_bank_transfer.html' %}
{% endif %}



{% endblock %}