{% extends 'transaction/dsh/base.html' %} {% block title %}
  FINEASE | Track Card
{% endblock %} {% block content %}
<style>


.card {
    z-index: 0;
    background-color: #ECEFF1;
    padding-bottom: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius: 10px;
}

.top {
    padding-top: 40px;
    padding-left: 13% !important;
    padding-right: 13% !important;
}

/*Icon progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    margin-top: 30px;
}

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar .step0:before {
    font-family: FontAwesome;
    content: "\f10c";
    color: #fff;
}

#progressbar li:before {
    width: 40px;
    height: 40px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    background: #C5CAE9;
    border-radius: 50%;
    margin: auto;
    padding: 0px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 12px;
    background: #C5CAE9;
    position: absolute;
    left: 0;
    top: 16px;
    z-index: -1;
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%;
}

#progressbar li:nth-child(2):after, #progressbar li:nth-child(3):after {
    left: -50%;
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 50%;
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #651FFF;
}

#progressbar li.active:before {
    font-family: FontAwesome;
    content: "\f00c";
}

.icon {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.icon-content {
    padding-bottom: 20px;
}

@media screen and (max-width: 992px) {
    .icon-content {
        width: 50%;
    }
}
</style>
  <div id="content-page" class="content-page">
    <div class="container-fluid">
     <div class="container px-1 px-md-4 py-5 mx-auto">
       <div>
         <form method="post">
             {% csrf_token %}
           <div class="form-class">
             <label for="track_no">Tracking Number</label>
             <input id="track_no" name="track_no" type="text" class="form-control" placeholder="enter tracking number">
           </div>
           <div class="mt-3">
             <button class="btn btn-primary" type="submit">Submit</button>
           </div>

         </form>
       </div>
          {% if tracking_info %}
    <div class="card">
        <div class="row d-flex justify-content-between px-3 top">
            <div class="d-flex">
                <h5>tracking ID<span class="text-primary font-weight-bold">#{{tracking_info.track_no}}</span></h5>
            </div>
            <div class="d-flex flex-column text-sm-right">
                <p class="mb-0">Expected Arrival <span>{{tracking_info.delivery_date |date:"d/m/y"}}</span></p>
                <p>Tracking Number <span class="font-weight-bold">{{tracking_info.track_no}}</span></p>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-12">
           <ul id="progressbar" class="text-center">
    <!-- First step: Order Processed -->
    <li class="step0 {% if tracking_info.status == 'order processed' or tracking_info.status == 'order shipped' or tracking_info.status == 'order en route' or tracking_info.status == 'order delivered' %}active{% endif %}"></li>

    <!-- Second step: Order Shipped -->
    <li class="step0 {% if tracking_info.status == 'order shipped' or tracking_info.status == 'order en route' or tracking_info.status == 'order delivered' %}active{% endif %}"></li>

    <!-- Third step: Order En Route -->
    <li class="step0 {% if tracking_info.status == 'order en route' or tracking_info.status == 'order delivered' %}active{% endif %}"></li>

    <!-- Fourth step: Order Delivered -->
    <li class="step0 {% if tracking_info.status == 'order delivered' %}active{% endif %}"></li>
</ul>

            </div>
        </div>
        <div class="row justify-content-between top">
            <div class="row d-flex icon-content">
                <img  class="icon" src="https://i.imgur.com/9nnc9Et.png">
                <div class="d-flex flex-column">
                    <p class="font-weight-bold {% if tracking_info.status == 'order processed' or tracking_info.status == 'order shipped' or tracking_info.status == 'order en route' or tracking_info.status == 'order delivered' %}text-primary{% endif %}">Order<br>Processed</p>
                </div>
            </div>
            <div class="row d-flex icon-content">
                <img class="icon" src="https://i.imgur.com/u1AzR7w.png">
                <div class="d-flex flex-column">
                    <p class="font-weight-bold  {% if tracking_info.status == 'order shipped' or tracking_info.status == 'order en route' or tracking_info.status == 'order delivered' %}text-primary{% endif %}">Order<br>Shipped</p>
                </div>
            </div>
            <div class="row d-flex icon-content">
                <img class="icon" src="https://i.imgur.com/TkPm63y.png">
                <div class="d-flex flex-column">
                    <p class="font-weight-bold {% if tracking_info.status == 'order en route' or tracking_info.status == 'order delivered' %}text-primary{% endif %} ">Order<br>En Route</p>
                </div>
            </div>
            <div class="row d-flex icon-content">
                <img class="icon" src="https://i.imgur.com/HdsziHP.png">
                <div class="d-flex flex-column">
                    <p class="font-weight-bold {% if tracking_info.status == 'order delivered' %}text-primary{% endif %}">Order<br>Arrived</p>
                </div>
            </div>
        </div>
    </div>
</div>
         {% else %}
            <h4>No tracking information available. Please enter a valid tracking number.</h4>
            {% endif %}
    </div>
  </div>
  </div>

{% endblock %}
