{% extends 'transaction/dsh/base.html' %}
{% block title %}
  GRANDINSPC | Withdraw | {{method.name}}
{% endblock %}
{% block content %}


{% if method.name == 'Bitcoin(BTC)' %}
{% include 'transaction/dsh/dashboard/crypto_withdrawal.html' %}
{% elif method.name == 'Ethereum(ETH)' %}
{% include 'transaction/dsh/dashboard/crypto_withdrawal.html' %}
{% elif method.name == 'Bank Transfer (P2P)' %}
{% include 'transaction/dsh/dashboard/bank_withdrawal.html' %}
{% elif method.name == 'Cash App' %}
{% include 'transaction/dsh/dashboard/cash_app_deposit.html' %}
{% elif method.name == 'PayPal' %}
{% include 'transaction/dsh/dashboard/paypal_deposit.html' %}
{% endif %}



{% endblock %}