 {% load static %}


     <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{% static 'dsh/js/jquery.min.js' %}"></script>
      <script src="{% static 'dsh/js/popper.min.js' %}"></script>
      <script src="{% static 'dsh/js/bootstrap.min.js' %}"></script>
       <script src="{% static 'dsh/js/bootstrap-select.js' %}"></script>
      <!-- Appear JavaScript -->
      <script src="{% static 'dsh/js/jquery.appear.js' %}"></script>
      <!-- Countdown JavaScript -->
      <script src="{% static 'dsh/js/countdown.min.js' %}"></script>
      <!-- Counterup JavaScript -->
      <script src="{% static 'dsh/js/jquery.counterup.min.js' %}"></script>
      <!-- Wow JavaScript -->
      <script src="{% static 'dsh/js/wow.min.js' %}"></script>
      <!-- Apexcharts JavaScript -->
      <script src="{% static 'dsh/js/apexcharts.js' %}"></script>
      <!-- Slick JavaScript -->
      <script src="{% static 'dsh/js/slick.min.js' %}"></script>
      <!-- Select2 JavaScript -->
      <script src="{% static 'dsh/js/select2.min.js' %}"></script>
      <!-- Owl Carousel JavaScript -->

      <script src="{% static 'dsh/js/owl.carousel.min.js' %}"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="{% static 'dsh/js/jquery.magnific-popup.min.js' %}"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="{% static 'dsh/js/smooth-scrollbar.js' %}"></script>

      <!-- am core JavaScript -->
      <script src="{% static 'dsh/js/core.js' %}"></script>

      <!-- am animated JavaScript -->
      <script src="{% static 'dsh/js/animated.js' %}"></script>

      <!-- Style Customizer -->
      <script src="{% static 'dsh/js/style-customizer.js' %}"></script>
       <!-- sweet alert -->
      <script src="{% static 'dsh/js/sweetalert.js' %}"></script>
      <!-- Chart Custom JavaScript -->
      <script src="{% static 'dsh/js/chart-custom.js' %}"></script>
      <!-- Custom JavaScript -->
      <script src="{% static 'dsh/js/custom.js' %}"></script>
      <script src="{% static 'dsh/js/htmx.min.js' %}"></script>

      <script src="{% static 'dsh/js/copy_acct.js' %}"></script>
    <!-- Include necessary scripts -->
<!-- jQuery -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap-select CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
<!-- Bootstrap-select JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.5/sweetalert2.min.js"></script>


<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    });
</script>

<!-- Elfsight WhatsApp Chat | Untitled WhatsApp Chat -->
<script src="https://elfsightcdn.com/platform.js" async></script>
<div class="elfsight-app-91d675cc-342b-4936-b15b-8546974c1e23" data-elfsight-app-lazy></div>

