{% extends 'transaction/dsh/base.html' %} {% block title %}
  FINEASE | Account Profile

{% endblock %}


{% block content %}

   <!-- Page Content  -->
<div id="content-page" class="content-page">
            <div class="container-fluid">
                <div>
                     {% if form.errors %}
													<small class="text-danger ml-2">{{ form.errors }}</small><br>
												{% endif %}
                </div>
                 {% if messages %}
            {% for message in messages %}
                      <div class="col-lg-12 alert alert-primary alert-dismissible fade show">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" style="color:black">&times;</span>
                                        </button> <strong>{{message}}</strong></div>

					        {% endfor %}
        {% endif %}
               <div class="row">
                  <div class="col-lg-12">
                     <div class="iq-card">
                        <div class="iq-card-body p-0">
                           <div class="iq-edit-list">
                              <ul class="iq-edit-profile d-flex nav nav-pills">
                                  <li class="col-md-6 p-0">
                                    <a class="nav-link active"  href="{% url 'account:account_profile' %}">
                                    Account Profile
                                    </a>
                                 </li>
                                 <li class="col-md-6 p-0">
                                    <a class="nav-link"  href="{% url 'account:change_password' %}">
                                    Change Password
                                    </a>
                                 </li>
                                <li class="col-md-6 p-0">
                                    <a class="nav-link"  href="{% url 'account:transaction_pin' %}">
                                    Transaction PIN
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <div class="iq-edit-list-data">
                        <div class="tab-content">
                           <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                              <div class="iq-card">
                                 <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                       <h4 class="card-title">Account Details</h4>
                                    </div>
                                 </div>
                                 <div class="iq-card-body">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}


                                       <div class=" row align-items-center">
                                        <div class="col-md-12">
                                            <div class="profile-img-edit">
                                               <img class="profile-pic" src="{{request.user.client.profile_pic.url}}" alt="profile-pic">
                                               <div class="p-image">
                                                  <i class="ri-pencil-line upload-button"></i>
                                                  <input enctype="multipart/form-data"  name="profile_pic" class="file-upload" type="file" >
                                               </div>
                                            </div>
                                         </div>


                                          <div class="form-group col-sm-6">
                                             <label for="lname">Email:</label>
                                             <input readonly  class="form-control" value="{{request.user}}">
                                          </div>
                                           <div class="form-group col-sm-6">
                                             <label for="lname">Account Number:</label>
                                             <input readonly   class="form-control" value="{{request.user.client.account.account_number}}" >
                                          </div>
                                          <div class="form-group col-sm-6">
                                            <label for="lname">Name:</label>
                                            <input readonly  class="form-control"  value="{{request.user.client.name}}">
                                          </div>

                                         <div class="form-group col-sm-6">
                                            <label for="lname">Country:</label>
                                             <input  readonly  type="text" class="form-control"  value="{{request.user.client.country.name}}">
                                         </div>

                                         <div class="form-group col-sm-6">
                                            <label for="lname">Date Joined:</label>
                                            <input readonly  class="form-control" id="lname" value="{{request.user.date_joined|date}}">
                                         </div>

                                    </div>
                                       <button type="submit" class="btn btn-primary mr-2">Submit</button>

                                    </form>
                                 </div>
                              </div>
                           </div>


                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- Wrapper END -->


{% endblock content %}