{% extends "account/registration/layout.html" %}
{% block title %}FINEASE BANK | Password Reset Form {% endblock %}
{% load static %}
{% block content %}
 <!-- loader Start -->
      <div id="loading" style="display: none;">
         <div id="loading-center">
         </div>
      </div>
<section class="sign-in-page">
          <div id="container-inside">

            <div class="container p-0">
                <div class="row no-gutters height-self-center">
                  <div class="col-sm-12 align-self-center bg-info  rounded">
                    <div class="row m-0">
                      <div class="col-md-12 bg-white sign-in-page-data">
                        <div class="sign-in-from">
                              {% if validlink %}
                              <h1 class="mb-0">Reset Password</h1>
                              <p class="text-dark">Enter your new password.</p>
                              <form method="post" class="mt-4">
                                        {% if form.errors %}
                                {% for err in form.new_password2.errors %}
                            <br>
                                <div class="alert alert-danger" role="alert">
                                   {{err}}
                                </div>
                                {% endfor %}
                            {% endif %}
                                  {% csrf_token %}
                                  <div class="form-group">
                                      <label for="exampleInputEmail1">New Password</label>
                                      <input name="new_password1" type="password" class="form-control mb-0" id="exampleInputEmail1" placeholder="Enter New Password">
                                  </div>
                                     <div class="form-group">
                                      <label for="exampleInputEmail1">Confirm Password</label>
                                      <input name="new_password2" type="password" class="form-control mb-0" id="exampleInputEmail1" placeholder="Enter New Password">
                                  </div>
                                  <div class="d-inline-block w-100">

                                      <button type="submit" class="btn btn-primary float-right">Reset Password</button>
                                  </div>

                              </form>
                          </div>

                      </div>
                            {% else %}

                                <br>
                                <div class="alert alert-danger" role="alert">
                                    <p class="back-login dont-acc text-center"> Invalid Link. Click <a class="text-primary" href="{% url 'account:reset_password' %}"> Here !</a></p>
                                </div>
                             {% endif %}
                    </div>
                  </div>
                </div>
            </div>

        </section>

{% endblock %}


