{% extends "account/registration/layout.html" %}
{% block title %}GRANDSINSPC | Reset Password {% endblock %}
{% load static %}
{% block content %}
 <!-- loader Start -->
      <div id="loading" style="display: none;">
         <div id="loading-center">
         </div>
      </div>
<section class="sign-in-page">
          <div id="container-inside">
              <div class="cube"></div>
              <div class="cube"></div>
              <div class="cube"></div>
              <div class="cube"></div>
              <div class="cube"></div>
          </div>
            <div class="container p-0">
                <div class="row no-gutters height-self-center">
                  <div class="col-sm-12 align-self-center bg-info  rounded">
                    <div class="row m-0">
                      <div class="col-md-5 bg-white sign-in-page-data">
                        <div class="sign-in-from">
                              <h1 class="mb-0">Reset Password</h1>
                              <p class="text-dark">Enter your email address, and we'll email you with instructions to reset your password.</p>
                              <form method="post" class="mt-4">
                                        {% if form.errors %}
                                {% for err in form.email.errors %}
                            <br>
                                <div class="alert alert-danger" role="alert">
                                   {{err}}
                                </div>
                                {% endfor %}
                            {% endif %}
                                  {% csrf_token %}
                                  <div class="form-group">
                                      <label for="exampleInputEmail1">Email address</label>
                                      <input name="email" type="email" class="form-control mb-0" id="exampleInputEmail1" placeholder="Enter email">
                                  </div>

                                  <div class="d-inline-block w-100">

                                      <button type="submit" class="btn btn-primary float-right">Reset Password</button>
                                  </div>

                              </form>
                          </div>                      </div>
                      <div class="col-md-7 text-center sign-in-page-image">
                          <div class="sign-in-detail text-white">
                            <a class="sign-in-logo mb-5" href="#"><img style="border-radius:10%;"  src="{% static 'assets/images/logo.png' %}" class="img-fluid bg-white" alt="logo"></a>
                              <div class="owl-carousel owl-loaded owl-drag" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="0">

                              <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1186px, 0px, 0px); transition: all 0.25s ease 0s; width: 4151px;"><div class="owl-item cloned" style="width: 593px;"><div class="item">
                                      <img src="{% static 'assets/images/business-dashboard-1.png' %}" class="img-fluid mb-4" alt="logo">
                                      <h4 class="mb-1 text-white">Enjoy Banking with Ease</h4>
                                      <p>Bank across different countries with ease</p>
                                  </div></div><div class="owl-item cloned" style="width: 593px;"><div class="item">
                                      <img src="{% static 'assets/images/app-download-img.png' %}" class="img-fluid mb-4" alt="logo">
                                      <h4 class="mb-1 text-white">Swift Transactions</h4>
                                 </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-angle-left fa-2x"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-right fa-2x"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
                  </div>
                </div>
            </div>
        </section>

{% endblock %}


