{% extends "account/registration/layout.html" %}
{% block title %}FINEASE BANK | Password Reset Email Sent{% endblock %}
{% load static %}
{% block content %}


 <!-- Forgot In start -->
    <section class="log-reg forgot-pws reset-pws two">
        <div class="overlay pb-120">
            <div class="container">

                <div class="row justify-content-center">

                    <div class="col-lg-6 z-1 text-center d-flex align-items-center">
                        <div class="form-box">
                            <div class="icon-area">
                                <img src="{% static 'assets/img/forgot-password-Illus.png' %}" alt="image">
                            </div>
                            <h4>Password Reset Email</h4>
                            <p>A secure link have been sent to your email address, Kindly click the link to reset your password.</p>
                            <br>
                            <p class="back-login dont-acc">Go back to <a class="btn btn-primary" href="{% url 'account:login' %}">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Forgot In end -->

{% endblock content %}