{% extends "frontend/layout.html" %}
{% load static %}
{% block content %}


    <!-- Banner Section start -->
    <section class="banner-section about-us">
        <div class="overlay">
            <div class="banner-content">
                <div class="container wow fadeInUp">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-10">
                            <div class="main-content text-center">
                                <div class="top-area section-text dark-sec">
                                    <h5 class="sub-title">Built for entrepreneurs, by entrepreneurs</h5>
                                    <h1 class="title">The platform built to help businesses achieve their ambitions faster</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-img-bottom pb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="magnific-area d-flex align-items-center justify-content-around">
                            <div class="bg-area">
                                <img class="bg-item" src="{% static 'assets/images/about-popup.png' %}" alt="image">
                            </div>
                            <a class="mfp-iframe popupvideo" href="#">
                                <img src="{% static 'assets/images/icon/popup-icon.png' %}" alt="icon">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="stars-info pt-120">
                    <div class="row justify-content-center justify-content-around">
                        <div class="col-sm-3">
                            <div class="single-box">
                                <div class="icon-box">
                                    <img src="{% static 'assets/images/icon/stats-info-icon-1.png' %}" alt="icon">
                                </div>
                                <h5>2000+ employees & 100+ nationalities</h5>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="single-box">
                                <div class="icon-box">
                                    <img src="{% static 'assets/images/icon/stats-info-icon-2.png' %}" alt="icon">
                                </div>
                                <h5>27+ offices around the world</h5>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="single-box">
                                <div class="icon-box">
                                    <img src="{% static 'assets/images/icon/stats-info-icon-3.png' %}" alt="icon">
                                </div>
                                <h5>€303.6 BN billion in processed volume in 2022</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section end -->

    <!-- Our Values start -->
    <section class="our-values">
        <div class="overlay pt-120 pb-120">
            <div class="container wow fadeInUp">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-6">
                        <div class="section-header text-center">
                            <h5 class="sub-title">Our values</h5>
                            <h2 class="title">The values that drive everything we do</h2>
                            <p>The company is well-positioned to continue to grow and expand its business in the years to come.</p>
                        </div>
                    </div>
                </div>
                <div class="row cus-mar align-items-center">
                    <div class="col-lg-6">
                        <div class="single-box d-flex">
                            <div class="img-box">
                                <img src="{% static 'assets/images/icon/values-icon-1.png' %}" alt="icon">
                            </div>
                            <div class="text-box">
                                <h4>Innovation</h4>
                                <p>The company is committed to providing its customers with the best possible banking experience.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-box d-flex">
                            <div class="img-box">
                                <img src="{% static 'assets/images/icon/values-icon-2.png' %}" alt="icon">
                            </div>
                            <div class="text-box">
                                <h4>Accountability</h4>
                                <p>We are committed to serving our customers and the communities where we operate.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-box d-flex">
                            <div class="img-box">
                                <img src="{% static 'assets/images/icon/values-icon-3.png' %}" alt="icon">
                            </div>
                            <div class="text-box">
                                <h4>Commitment</h4>
                                <p>he company's commitment is evident in its innovative products and services, its strong corporate governance structure, and its commitment to social responsibility.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-box d-flex">
                            <div class="img-box">
                                <img src="{% static 'assets/images/icon/values-icon-4.png' %}" alt="icon">
                            </div>
                            <div class="text-box">
                                <h4>Team Work</h4>
                                <p>
Finease Bank is committed to teamwork and collaboration. The company's employees work together to achieve the company's goals and to provide the best possible service to its customers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Values end -->


    <!-- Location start -->
    <section class="location">
        <div class="overlay pb-120">
            <div class="container wow fadeInUp">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-8">
                        <div class="section-header text-center">
                            <h5 class="sub-title mt-3">Our offices</h5>
                            <h2 class="title">Come and visit our offices around the world</h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center cus-mar">
                    <div class="col-xl-4 col-md-6">
                        <div class="single-box">
                            <div class="head-area d-flex align-items-center">
                                <div class="img-box">
                                    <img src="{% static 'assets/images/icon/location-icon-1.png' %}" alt="image">
                                </div>
                                <h4>Hong Kong</h4>
                            </div>
                            <div class="email-phone">
                                <div class="img-box">
                                    <img src="{% static 'assets/images/icon/email-icon-1.png' %}" alt="icon">
                                </div>
                                <p>hongkong@fineasebank.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="single-box">
                            <div class="head-area d-flex align-items-center">
                                <div class="img-box">
                                    <img src="{% static 'assets/images/icon/location-icon-2.png' %}" alt="image">
                                </div>
                                <h4>New York</h4>
                            </div>
                            <div class="email-phone">
                                <div class="img-box">
                                    <img src="{% static 'assets/images/icon/email-icon-2.png' %}" alt="icon">
                                </div>
                                <p>newyork@fineasebank.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="single-box">
                            <div class="head-area d-flex align-items-center">
                                <div class="img-box">
                                    <img src="{% static 'assets/images/icon/location-icon-3.png' %}" alt="image">
                                </div>
                                <h4>San Francisco</h4>
                            </div>
                            <div class="email-phone">
                                <div class="img-box">
                                    <img src="{% static 'assets/images/icon/email-icon-3.png' %}" alt="icon">
                                </div>
                                <p>london@fineasebank.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Location end -->

{% endblock %}