{% extends "frontend/layout.html" %}
{% load static %}
{% block content %}


    <!-- Banner Section start -->
    <section class="banner-section invoice-management">
        <div class="overlay">
            <div class="shape-area">
                <img src="{% static 'assets/images/icon/invoice-icon-1.png' %}" class="shape-1" alt="icon">
                <img src="{% static 'assets/images/icon/invoice-icon-2.png' %}" class="shape-2" alt="icon">
                <img src="{% static 'assets/images/icon/invoice-icon-3.png' %}" class="shape-3" alt="icon">
            </div>
            <div class="banner-content">
                <div class="container wow fadeInUp">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-9">
                            <div class="main-content text-center">
                                <div class="top-area section-text dark-sec">
                                    <h5 class="sub-title">Smarter Invoicing</h5>
                                    <h1 class="title">Invoices Made Effortless</h1>
                                    <p>Create, send & manage invoices effortlessly. Unleash the power of an integrated finance stack with Invoicing and the Finease Bank business account.</p>
                                </div>
                                <div class="btn-area">
                                    <a href="{% url 'account:register' %}" class="cmn-btn">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section end -->

    <!-- Features start -->
    <section class="earn-cashback features">
        <div class="overlay pt-120 pb-120">
            <div class="container wow fadeInUp">
                <div class="row pb-120 align-items-center justify-content-between">
                    <div class="col-md-6">
                        <div class="section-area">
                            <h5 class="sub-title">Faster invoice payments</h5>
                            <h2 class="title">The easiest, fastest way to create invoices</h2>
                            <p>Create professional looking, tax compliant invoices that match your brand. Your payment details are automatically included, so it’s easier for customers to pay you.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sec-image">
                            <img src="{% static 'assets/images/invoice-features-1.png' %}" alt="image" class="w-100">
                        </div>
                    </div>
                </div>
                <div class="row pb-120 align-items-center justify-content-between">
                    <div class="col-md-6 order-md-0 order-1">
                        <div class="sec-image">
                            <img src="{% static 'assets/images/invoice-features-2.png' %}" alt="image" class="w-100">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="section-area">
                            <h5 class="sub-title">Business made simple</h5>
                            <h2 class="title">Know when you’re likely to get paid. So you can plan ahead</h2>
                            <p>Get a bird’s eye view of paid and unpaid invoices. Know when you’re likely to be paid, so you can plan accordingly. Be in the know & receive alerts as soon as you get paid.</p>
                        </div>
                    </div>
                </div>
                <div class="row pb-120 align-items-center justify-content-between">
                    <div class="col-md-6">
                        <div class="section-area">
                            <h5 class="sub-title">Set up automatic reminders</h5>
                            <h2 class="title">Set auto payment reminders for your customers</h2>
                            <p>Remind customers of an upcoming or overdue payment, without being intrusive or awkward. Reduce payment delays, without following up all the time.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sec-image">
                            <img src="{% static 'assets/images/invoice-features-3.png' %}" alt="image" class="w-100">
                        </div>
                    </div>
                </div>
                <div class="row pb-120 align-items-center justify-content-between">
                    <div class="col-md-6 order-md-0 order-1">
                        <div class="sec-image">
                            <img src="{% static 'assets/images/invoice-features-4.png' %}" alt="image" class="w-100">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="section-area">
                            <h5 class="sub-title">Run Your Business Your Way</h5>
                            <h2 class="title">Sit back and relax with automatic reconcillation</h2>
                            <p>Matching incoming transfers are automatically synced and marked as paid. Experience the power of an integrated finance stack.</p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-6">
                        <div class="section-area">
                            <h5 class="sub-title">Professional invoices now just a few clicks away</h5>
                            <h2 class="title">Spend less time doing boring administrative tasks</h2>
                            <p>Unleash the power of Finease bank business account along with your invoices. and manage it all with a bird’s eye view. Save a tonne of time, effortlessly.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sec-image ex-mar">
                            <img src="{% static 'assets/images/invoice-features-5.png' %}" alt="image" class="w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features end -->

    <!-- Platform integration start -->
    <section class="call-action integration">
        <div class="overlay pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 text-center">
                        <div class="section-text">
                            <h5 class="sub-title">Platform integration</h5>
                            <h2 class="title">Integrate Plugins to Start Accepting Payments in Minutes</h2>
                            <p>We make integrating with the most popular e-commerce platforms seamless. Customise, or enjoy out-of-the-box features.</p>
                        </div>
                        <div class="btn-area">
                            <a href="{% url 'account:register' %}" class="cmn-btn">Open a Free Account</a>
                            <a href="{% url 'help_center' %}" class="cmn-btn active">Talk to an expert</a>
                        </div>
                        <ul class="mt-60">
                            <li><img src="{% static 'assets/images/icon/aws.png' %}" alt="icon"></li>
                            <li><img src="{% static 'assets/images/icon/shopify.png' %}" alt="icon"></li>
                            <li><img src="{% static 'assets/images/icon/magento.png' %}" alt="icon"></li>
                            <li><img src="{% static 'assets/images/icon/xero.png' %}" alt="icon"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Platform integration end -->

    <!-- Call Action start -->
    <section class="call-action">
        <div class="overlay pt-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 text-center">
                        <div class="section-text">
                            <h5 class="sub-title">What are you waiting for?</h5>
                            <h2 class="title">Make Global Payments Simple Today</h2>
                            <p>No-fuss company cards for team members, instant virtual cards for security and flexibility — all set up with our easy expense management</p>
                        </div>
                        <div class="btn-area">
                            <a href="{% url 'account:register' %}" class="cmn-btn">Open a Free Account</a>
                            <a href="{% url 'help_center' %}" class="cmn-btn active">Talk to an expert</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call Action end -->

{% endblock %}