{% load static %}

 <!--==================================================================-->
    <script src="
    {% static 'assets/js/jquery.min.js' %}"></script>
    <script src="
    {% static 'assets/js/jquery-ui.js' %}"></script>
    <script src="
    {% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="
    {% static 'assets/js/fontawesome.js' %}"></script>
    <script src="
    {% static 'assets/js/plugin/slick.js' %}"></script>
    <script src="
    {% static 'assets/js/plugin/jquery.nice-select.min.js' %}"></script>
    <script src="
    {% static 'assets/js/plugin/counter.js' %}"></script>
    <script src="
    {% static 'assets/js/plugin/waypoint.min.js' %}"></script>
    <script src="
    {% static 'assets/js/plugin/jquery.magnific-popup.min.js' %}"></script>
    <script src="
    {% static 'assets/js/plugin/wow.min.js' %}"></script>
    <script src="
    {% static 'assets/js/plugin/plugin.js' %}"></script>
    <script src="
    {% static 'assets/js/main.js' %}"></script>