{% load static %}
<script src="https://static.elfsight.com/platform/platform.js" async></script>
<div class="elfsight-app-746bbf23-db72-42d3-8d3f-fbb5adf92870" data-elfsight-app-lazy></div>
 <!--==================================================================-->
    <script src="
    {% static 'assets/js/jquery.min.js' %}"></script>
    <script src="
    {% static 'assets/js/jquery-ui.js' %}"></script>
    <script src="
    {% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="
    {% static 'assets/js/fontawesome.js' %}"></script>
    <script src="
    {% static 'assets/js/plugin/slick.js' %}"></script>
    <script src="
    {% static 'assets/js/plugin/jquery.nice-select.min.js' %}"></script>
    <script src="
    {% static 'assets/js/plugin/counter.js' %}"></script>
    <script src="
    {% static 'assets/js/plugin/waypoint.min.js' %}"></script>
    <script src="
    {% static 'assets/js/plugin/jquery.magnific-popup.min.js' %}"></script>
    <script src="
    {% static 'assets/js/plugin/wow.min.js' %}"></script>
    <script src="
    {% static 'assets/js/plugin/plugin.js' %}"></script>
    <script src="
    {% static 'assets/js/main.js' %}"></script>