<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="GRANDINSPC is a leading digital bank that offers innovative products and services to help customers achieve their financial goals. With a focus on convenience, security, and affordability, GRANDINSPC makes it easy for customers to manage their money, grow their savings, and borrow money responsibly.">

    <meta name="keywords" content="online banking, digital banking, loan, bank services" />

		<meta name="theme-color" content="#3F6EBF" />
		<meta name="msapplication-navbutton-color" content="#3F6EBF" />
		<meta name="apple-mobile-web-app-status-bar-style" content="#3F6EBF" />

		<meta property="og:url" content="http://www.grandinspc.com/" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="GRANDINSPC - bank with confidence" />
		<meta property="og:description" content="GRANDINSPC is a leading digital bank that offers innovative products and services to help customers achieve their financial goals. With a focus on convenience, security, and affordability, GRANDINSPC makes it easy for customers to manage their money, grow their savings, and borrow money responsibly." />
		<meta property="og:image" content="http://www.grandinspc.com/static/dsh/assets/images/logo.png" />

		<meta name="twitter:title" content="GRANDINSPC - bank with confidence" />
		<meta name="twitter:description" content="GRANDINSPC is a leading digital bank that offers innovative products and services to help customers achieve their financial goals. With a focus on convenience, security, and affordability, GRANDINSPC makes it easy for customers to manage their money, grow their savings, and borrow money responsibly." />
		<meta name="twitter:image" content="http://www.grandinspc.com/static/dsh/assets/images/logo.png" />

    {% block title %}<title>GRANDINSPC - Money Transfer and Online Payments</title>{% endblock %}

    <link rel="shortcut icon" href="{% static 'assets/images/fav.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugin/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugin/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugin/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/arafat-font.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugin/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>

{% include 'frontend/header.html' %}

{% block content %}
{% endblock %}
{% include 'frontend/footer.html' %}
{% include 'frontend/js.html' %}
</body>
</html>