{% extends "frontend/layout.html" %}
{% load static %}
{% block content %}

 <!-- Banner Section start -->
 <section class="banner-section corporate-card subscriptions">
    <div class="overlay">
        <div class="banner-content">
            <div class="container wow fadeInUp">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-6 col-md-7">
                        <div class="main-content">
                            <div class="top-area section-text">
                                <h5 class="sub-title">Scheduled Payments</h5>
                                <h1 class="title">Manage Subscriptions Smarter</h1>
                                <p class="xlr">One place for all your recurring payments</p>
                            </div>
                            <div class="bottom-area d-xxl-flex">
                                <a href="{% url 'account:register' %}" class="cmn-btn">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section end -->

<!-- Features start -->
<section class="earn-cashback features">
    <div class="overlay pt-120 pb-120">
        <div class="container wow fadeInUp">
            <div class="row pb-120 align-items-center justify-content-between">
                <div class="col-md-6 order-md-0 order-1">
                    <div class="sec-image">
                        <img src="{% static 'assets/images/subscriptions-features.png' %}" alt="image" class="w-100">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="section-text">
                        <h5 class="sub-title">Block unwanted subscriptions easily</h5>
                        <h2 class="title">Organise subscriptions in one place</h2>
                        <p>Add your scheduled payments to GRANDSINSPC to track your spending and see where you could save</p>
                    </div>
                    <div class="bottom-area d-xxl-flex">
                        <a href="{% url 'account:register' %}" class="cmn-btn">Try it out</a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6">
                    <div class="section-text">
                        <h5 class="sub-title">Subscribe to a better financial life</h5>
                        <h2 class="title">Get reminders for upcoming payments</h2>
                        <p>Say goodbye to surprise charges with notifications if there's not enough money to cover scheduled payments</p>
                    </div>
                    <div class="bottom-area d-xxl-flex">
                        <a href="{% url 'account:register' %}" class="cmn-btn">Try it out</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="sec-image exb-mar">
                        <img src="{% static 'assets/images/subscriptions-features-2.png' %}" alt="image" class="w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features end -->

    <!-- Testimonials start -->
    <section class="testimonials">
        <div class="overlay pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-header text-center">
                            <h5 class="sub-title">Testimonials</h5>
                            <h2 class="title">What Our Customers Say</h2>
                            <p>245m+ happy clients all around the world. Don’t just take our word for it</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid wow fadeInUp">
                <div class="testimonials-carousel">
                    <div class="single-slide">
                        <div class="single-content">
                            <div class="start-area">
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            </div>
                            <h5 class="title-area">Great Fast Reliable Service</h5>
                            <p class="xlr">"GRANDSINSPC has always been a reliable solution for my business. I am very satisfied with their speedy service and professional customer care. I highly recommend GRANDSINSPC to businesses with regular overseas payments."</p>
                            <div class="profile-area d-flex align-items-center">
                                <div class="icon-area">
                                    <img src="{% static 'assets/images/testimonials-img-1.png' %}" alt="icon">
                                </div>
                                <div class="text-area">
                                    <h5>Peter Callum</h5>
                                    <p>Freelancer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="single-content">
                            <div class="start-area">
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            </div>
                            <h5 class="title-area">Fast International Transactions</h5>
                            <p class="xlr">I love that I can use my GRANDSINSPC global account to send and receive money internationally quickly and easily, and at competitive rates.</p>
                            <div class="profile-area d-flex align-items-center">
                                <div class="icon-area">
                                    <img src="{% static 'assets/images/testimonials-img-2.png' %}" alt="icon">
                                </div>
                                <div class="text-area">
                                    <h5>Courtney Henry</h5>
                                    <p>Data Analyst</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="single-content">
                            <div class="start-area">
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            </div>
                            <h5 class="title-area">Best Currency Exchange</h5>
                            <p class="xlr">I've been using GRANDSINSPC to exchange currencies for a few years now and I've always been impressed with their rates and fees. They're always competitive and I've never had any problems with their service.</p>
                            <div class="profile-area d-flex align-items-center">
                                <div class="icon-area">
                                    <img src="{% static 'assets/images/testimonials-img-3.png' %}" alt="icon">
                                </div>
                                <div class="text-area">
                                    <h5>Paul Howell</h5>
                                    <p>Business Owner</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="single-content">
                            <div class="start-area">
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                                <a href="javascript:void(0)"><i class="fas fa-star"></i></a>
                            </div>
                            <h5 class="title-area">Secure Transactions</h5>
                            <p class="xlr">I'm very impressed with the security measures that GRANDSINSPC has in place to protect my fiat currency. I feel confident that my money is safe in their hands</p>
                            <div class="profile-area d-flex align-items-center">
                                <div class="icon-area">
                                    <img style="width:70px;border-radius:60%;" src="{% static 'assets/images/team-image-1.png' %}" alt="icon">
                                </div>
                                <div class="text-area">
                                    <h5>Sarah Jones</h5>
                                    <p>International Student</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- App Download end -->

<!-- Call To Action start -->
<section class="call-action">
    <div class="overlay pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 text-center">
                    <div class="section-text">
                        <h5 class="sub-title">What are you waiting for?</h5>
                        <h2 class="title">Start Taking Control of Your Money Today</h2>
                        <p>No-fuss company cards for team members, instant virtual cards for security and flexibility — all set up with our easy expense management</p>
                    </div>
                    <div class="btn-area">
                        <a href="{% url 'account:register' %}" class="cmn-btn">Sign up in minutes</a>
                        <a href="{% url 'help_center' %}" class="cmn-btn active">Talk to an expert</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action end -->


{% endblock %}