
                                          <input   disabled type="text" class="form-control" value="{{exchange}}">

                                        <div class="col-lg-6">
                                            <h6 class="pt-3">Exchange Fee
                                                <span  style="float:right">{{receive}}</span>
                                            </h6>
                                        </div>
                                         <hr>
                                            <div class="col-lg-6">
                                            <h6 class="">Total Pay
                                                <span  style="float:right">{{result}}</span>
                                            </h6>
                                        </div>
                                         <hr>

                                        <div class="col-lg-6">
                                            <h6 class="">You Receive
                                                <span  style="float:right;">{{exchange}}</span>
                                            </h6>
                                        </div>
 </div>
                                        </div>
